<div class="row m-4 p-2">
    <h3>Branchs List</h3>
    <button *ngIf="role == 'admin'" class="btn bttn ml-auto" data-toggle="modal"
        data-target="#exampleModalCenter" (click)="clear()">Create New Branch</button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create New Branch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="branchForm">
                        <label>Branch Name</label>
                        <input class="form-control" placeholder="Enter Branch name" formControlName="branchName">
                        <div *ngIf="branchForm.get('branchName').touched  && branchForm.get('branchName').errors ">
                            <p *ngIf="branchForm.get('branchName').errors.required" class="errors">Branch name is
                                Required</p>
                            <p *ngIf="branchForm.get('branchName').errors.minlength" class="errors">Branch name should
                                be minimum 6 charecters</p>
                        </div>
                        <label>Phone Number</label>
                        <input class="form-control" placeholder="Enter Phone name" formControlName="phone_number"
                            (keypress)="number($event.key)">
                        <div *ngIf="branchForm.get('phone_number').touched  && branchForm.get('phone_number').errors ">
                            <p *ngIf="branchForm.get('phone_number').errors.required" class="errors">Phone number is
                                Required</p>
                            <p *ngIf="branchForm.get('phone_number').errors.pattern" class="errors">Phone number should
                                be valid</p>
                            <p *ngIf="branchForm.get('phone_number').errors.maxlength" class="errors">Phone number
                                should be only 10 numbers</p>
                        </div>
                        <label>Address</label>
                        <div class="address" formGroupName="address">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <input class="form-control" placeholder="Enter street name"
                                        formControlName="street">
                                    <div
                                        *ngIf="branchForm.get('address').get('street').touched  && branchForm.get('address').get('street').errors ">
                                        <p *ngIf="branchForm.get('address').get('street').errors.required"
                                            class="errors">Street name is Required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input class="form-control" placeholder="Enter city name" formControlName="city">
                                    <div
                                        *ngIf="branchForm.get('address').get('city').touched  && branchForm.get('address').get('city').errors ">
                                        <p *ngIf="branchForm.get('address').get('city').errors.required" class="errors">
                                            City name is Required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <input class="form-control" placeholder="Enter state name" formControlName="state">
                                    <div
                                        *ngIf="branchForm.get('address').get('state').touched  && branchForm.get('address').get('state').errors ">
                                        <p *ngIf="branchForm.get('address').get('state').errors.required"
                                            class="errors">State name is Required</p>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <input class="form-control" placeholder="Enter zip code" formControlName="zip"
                                        (keypress)="number($event.key)">
                                    <div
                                        *ngIf="branchForm.get('address').get('zip').touched  && branchForm.get('address').get('zip').errors ">
                                        <p *ngIf="branchForm.get('address').get('zip').errors.required" class="errors">
                                            Zip code is Required</p>
                                        <p *ngIf="branchForm.get('address').get('zip').errors.maxlength || branchForm.get('address').get('zip').errors.minlength "
                                            class="errors">Zip code should be valid</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="createBranch()"
                        [disabled]="branchForm.invalid">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <th class="text-center">Branch Id</th>
                <th class="text-center">Branch Name</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">Created On</th>
                <th class="text-center">Address</th>
                <th class="text-center" *ngIf="role=='admin'">Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let b of data">
                    <td>{{b.branch_id}}</td>
                    <td>{{b.branch_name}}</td>
                    <td>{{b.phone_number}}</td>
                    <td>{{b.creation_date | date:'yyyy-MM-dd'}}</td>

                    <td> {{b.address}}</td>
                    <!-- <b>City</b>: {{b.address.city}}<br>
                        <b>State</b>: {{b.address.state}}<br>
                        <b>Zip Code</b>: {{b.address.zip}}<br> -->
                    <td  *ngIf="role=='admin'"><span class="row"><i class="fa fa-trash mx-auto icon" (click)="deletefunction(b.branch_id)"></i></span></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>