<div class="row">
    <div class="col-md-4">
        <h4 class="mt-4">Student Enrollment Form</h4>
        <div class="card">
            <form [formGroup]="studnetEnrollForm">
                <label>UserName</label>
                <input class="form-control" formControlName="username">
                <label>Email</label>
                <input class="form-control" formControlName="email">
                <label>Phone Number</label>
                <input class="form-control" formControlName="phone_number">

                <button class="btn bttn" (click)="studentEnroll()">Invite Student</button>
            </form>
        </div>
    </div>
</div>