<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true" (click)="roomselected(1)">AC-Classes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
      aria-selected="false" (click)="roomselected(2)">Non-AC-Classes</a>
  </li>
  <li class="nav-item" *ngIf="role =='admin'">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
      aria-selected="false">Students</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p class="head">Ac Class Seats InFormation</p>
        <h5 class="mb-3">Select branch</h5>
        <select [(ngModel)]="selectedbranch" (change)="selectedFun()">
          <option>--select branch--</option>
          <option *ngFor="let b of branchs" value="{{b.branch_id}}">{{b.branch_name}}</option>
        </select>
        <div *ngIf="datesDisplay">
          <h5 class="mb-3">Select Dates</h5>
          <div class="row">
            <input type="date"  (change)="dateSelected()" [(ngModel)]="fromdate" value="todate">
            <input type="date"   [(ngModel)]="todate" value="todate">
          </div>
        </div>
        <div *ngIf="timeDisplay">
          <h5 class="mb-3">Time slot</h5>
          <div class="row">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00"  [(ngModel)]="fromtime" value="fromtime">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" (change)="timeSelected()" [(ngModel)]="totime" value="totime">
          </div>
        </div>

        

        <div class='row' *ngIf="seatsDisplay">
          <div *ngFor="let s of seatsarray; let i=index" class="seat" (click)="selected(s)" [ngClass]="[(s.booked && s.userDetails.gender=='female') ? 'femalebooked' : '', (s.booked && s.userDetails.gender=='male') ? 'malebooked' : '', s.selected ? 'selected' : '']">
          </div>
          <button class="btn bttn m-2" *ngIf="role=='Student'" (click)="bookseat()">Book</button>
        </div>
        <div *ngIf="!seatsDisplay" class="">

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p class="head">Ac Class Seats InFormation</p>
        <h5 class="mb-3">Select branch</h5>
        <select [(ngModel)]="selectedbranch" (change)="selectedFun()">
          <option>--select branch--</option>
          <option *ngFor="let b of branchs" value="{{b.branch_id}}">{{b.branch_name}}</option>
        </select>
        <div *ngIf="datesDisplay">
          <h5 class="mb-3">Select Dates</h5>
          <div class="row">
            <input type="date"  (change)="dateSelected()" [(ngModel)]="fromdate" value="todate">
            <input type="date"   [(ngModel)]="todate" value="todate">
          </div>
        </div>
        <div *ngIf="timeDisplay">
          <h5 class="mb-3">Time slot</h5>
          <div class="row">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00"  [(ngModel)]="fromtime" value="fromtime">
            <input type="time" id="appt" name="appt" min="09:00" max="18:00" (change)="timeSelected()" [(ngModel)]="totime" value="totime">
          </div>
        </div>

        

        <div class='row' *ngIf="seatsDisplay">
          <div *ngFor="let s of seatsarray; let i=index" class="seat" (click)="selected(s)" [ngClass]="[(s.booked && s.userDetails.gender=='female') ? 'femalebooked' : '', (s.booked && s.userDetails.gender=='male') ? 'malebooked' : '', s.selected ? 'selected' : '']">
          </div>
          <button class="btn bttn m-2" *ngIf="role=='Student'" (click)="bookseat()">Book</button>
        </div>
        <div *ngIf="!seatsDisplay" class="">

        </div>
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

    <div class="row table-responsive">
      <p class="head">Students InFormation</p>
      <table class="table table-bordered">
        <thead>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>Address</th>
        </thead>
        <tbody>
          <tr *ngFor="let i of studentdata">
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone_number}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.address}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>