<div class="background row">
    <div class="container maindiv">
            <div class="row">
                <div class="col-md-7 d-none d-sm-none d-md-block">
                </div>
                <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5 col-xl-5">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn cbtn" (click)="changeuser('Student')">Student</button>
                        <button class="btn cbtn" (click)="changeuser('Admin')">Admin</button>
                      </div>
                    <div class="mt-5">
                        <p class="heading">{{user}} Login</p>
                        <form [formGroup]="loginForm">
                            <input type=text class="form-control" placeholder="enter email" formControlName="username">
                            <div *ngIf="loginForm.get('username').touched  && loginForm.get('username').errors ">
                                <p *ngIf="loginForm.get('username').errors.required" class="errors">email is Required</p>
                                <p *ngIf="loginForm.get('username').errors.pattern" class="errors">email should be valid</p>
                            </div>
                            <input type="password" class="form-control" placeholder="enter password" formControlName="password">
                            <div *ngIf="loginForm.get('password').touched  && loginForm.get('password').errors ">
                                <p *ngIf="loginForm.get('password').errors.required" class="errors">Password is Required</p>
                            </div>
                            <button class="btn lbtn" (click)="login(loginForm.value)"
                                [disabled]="loginForm.invalid">Login</button>
                        </form>
                            <p>Forgot password</p>  
                    </div>         
                </div>
            </div>
    </div>
</div>
