.background{
    background-image: url("/assets/loginbackground.jpg");
    height: 100vh;
    background-size: cover;
}
.maindiv{
    margin: 60px auto;
    padding: 20px !important;
    // background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    color:black;
}

.logindiv{
    margin: 30px 90px !important;
}

.heading{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.form-control{
    margin: 10px 0px 0px 0px!important;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    color:black
}

img{
    min-width: 100%;
    height: 400px !important;
}

.login{
    background-color: white;
    padding: 10px;
}
.nopadding{
    padding: 0px !important;
    display: block;
}

.cbtn{
    background:black;
    color:white;
    
}
.cbtn:active,.cbtn:focus,.cbtn:hover,.cbtn:visited,.cbtn::selection{
    background:white;
    color:black;
}

.form-control::placeholder{
    color: black;
}


.lbtn{
    background-color: #0E1010;
    color:white;
    display: block;
    width: 100%;
    margin: 10px 0px 10px;
    color: white;
    font-weight: bolder;
}

img{
    width: 100%;
}

@media(max-width:425px){
    .maindiv{
        margin-top: 0px;
    }
}