/* You can add global styles to this file, and also import other style files */
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.vh-100{
    min-height: 100vh !important;
}

.btn{
    margin: 0px 8px;
}