nav {
    background-image: linear-gradient(180deg, #513829 0%, #513829 35%, #A29492 100%);
    min-height: 100vh;
    padding: 0px;
}

.navbardiv {
    padding: 0px !important;
}
.navbar {
    display: block;
}
.navbar-toggler-icon {
    color: white;
}

.icon {
    font-size: 40px;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
}

.icondiv {
    margin: 20px 0px;
    padding-left: 10px;
}

.text {
    color: white;
}

.nav {
    width: 100% !important;
    li {
        border-bottom: 1px solid white;
        padding: 0px;
        margin-top: 10px;
        cursor: pointer;
        a {
            color: white;
        }
    }
}

.nav-link:hover,.active{
    color:#FF652F !important;
    padding-left:10px !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.header{
    background-color: #513829;
    padding: 2px 10px;
    p{
        font-size: 25px;
        color:white;
       
    }
}

.data{
    padding: 0px;
}

.over{
    height: 90vh;
    overflow-y: auto !important;
}

@media (max-width: 768px) {
    nav {
        min-height: 100%;
        background-image: linear-gradient(180deg, #A29492 0%, #513829 35%, #513829 100%);
    }
}
