<div class="row v-100 background">
    <div *ngIf="!msgStatus" class="card mx-auto my-auto col-md-4">
        <h4 class="mx-auto">SignUp</h4>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

            <label class="text">User Name</label>

            <input class="form-control" type="text" formControlName="userName" disabled>
            <label class="text">Email</label>
            <input class="form-control" type="text" formControlName="email" disabled>

            <label class="text">Phone Number</label>
            <input class="form-control" type="text" formControlName="phone_number" disabled>
            <div class="row">
                <div class="mr-2">
                    <label class="text">First Name</label>
                    <input class="form-control" type="text" formControlName="first_name">
                </div>
                <div class="mr-2">
                    <label class="text">Last Name</label>
                    <input class="form-control" type="text" formControlName="last_name">
                </div>

            </div>
            <label class="text">Gender</label><br>
            <div class="row">
                <input type="radio" formControlName="gender" name="gender" value="male" class="m-2"><label>Male</label><br>
                <input type="radio" formControlName="gender" name="gender" value="female" class="m-2"><label>Female</label><br>
            </div>
            <div class="row">
                <div class="mr-2">
                    <label class="text">Password</label>
                    <input class="form-control" type="password" formControlName="password">
                </div>
                <div class="mr-2 ml-auto">
                    <label class="text">Confirm Password</label>
                    <input class="form-control" type="password" formControlName="confirm_password">
                </div>

            </div>
            <label class="text">Address</label>
            <div class="address" formGroupName="address">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <input class="form-control" placeholder="Enter street name" formControlName="street">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input class="form-control" placeholder="Enter city name" formControlName="city">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <input class="form-control" placeholder="Enter state name" formControlName="state">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input class="form-control" placeholder="Enter zip code" formControlName="zip">
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn bttn mx-auto" type="submit">SignUp</button>
            </div>
           
        </form>
    </div>
    <div *ngIf="msgStatus" class="card mx-auto my-auto col-md-4">
        <p class="text-center">{{msg}}</p>
        <button class="mx-auto btn bttn" routerLink="/login">Login</button>
    </div>
</div>