
<div class="row vh-100">
    <div  class="card mx-auto my-auto col-md-4">
        <h4 class="mx-auto">SignUp</h4>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

            <label class="text">User Name</label>
            
            <input class="form-control" type="text" formControlName="userName"[ngClass]="{ 'is-touched': submitted && forms.username.errors }">
            <div *ngIf="submitted && forms.username.errors" class="invalid-feedback">
                <div *ngIf="forms.username.errors.required">User Name  is required</div>
            </div>
            <label class="text">Email</label>
            <input class="form-control"  type="text" formControlName="email" [ngClass]="{ 'is-touched': submitted && forms.email.errors }">
            <div *ngIf="submitted && forms.email.errors" class="invalid-feedback">
                <div *ngIf="forms.email.errors.required">Email  is required</div>
            </div>
            <label class="text">Phone Number</label>
            <input class="form-control"  type="text" formControlName="phone_number"  [ngClass]="{ 'is-touched': submitted && forms.phone_number.errors }">
            <div *ngIf="submitted && forms.phone_number.errors" class="invalid-feedback">
                <div *ngIf="forms.phone_number.errors.required">Phone Number  is required</div>
            </div>
            <div class="row">
                <div class="mr-2">
                    <label class="text">First Name</label>
                    <input class="form-control" type="text" formControlName="first_name" [ngClass]="{ 'is-touched': submitted && forms.first_name.errors }">
                </div>
               <div class="mr-2">
                <label class="text">Last Name</label>
                <input class="form-control" type="text" formControlName="last_name">
               </div>
                
            </div>
                <label class="text">Gender</label><br>
                <input type="radio" formControlName="gender" name="gender" value="male"><label>Male</label><br>
                <input type="radio" formControlName="gender" name="gender" value="female"><label>Female</label><br>
            <label class="text">Password</label>
            <input class="form-control">
            <label class="text">Confirm Password</label>
            <input class="form-control">
            <button class="btn bttn">SignUp</button>
        </form>
        
       
       
       
        
        
       
        
    </div>
</div>